@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.image-input .info {
    font-family: 'Josefin Sans', sans-serif;
}

.image-input img {
    position: absolute;
    top: 0;
    right: 17%;
    width: 40px;
    height: auto;
}